---
import { Image } from "astro:assets";
import logo from "../assets/images/logo-dark.png";
---

<nav id="nav">
  <Image src={logo} alt="logo NexaVision" width={50} height={50} />
  <ul class="nav-items">
    <li><a href="#home">Inicio</a></li>
    <li><a href="#products-section">Productos</a></li>
    <li><a href="#about-us">Nostros</a></li>
    <li><a href="#footer">Contacto</a></li>
  </ul>
</nav>
<style>
  #nav {
    z-index: 1000;
    width: 100%;
    padding: 8px 16px;
    height: 70px;
    background: linear-gradient(to right, rgba(26, 27, 48, 0.568), rgb(44, 45, 80), rgba(58, 60, 96, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  .nav-items {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;

    > li a {
      color: var(--text-dark);
       text-decoration: none;
    }

    > li a:hover {
      text-decoration: underline;
    }
  }
</style>
